[class*="col-"] {
    float: left;
    padding: 5px;
    }
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 70%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .header{
        text-align: center;
       }
    .header{
        background-color:#B69121;
    }@media only screen and (min-width: 768px){
        .header{background-color:#A47E1B;
        }}
    
    ul a{
        color: black;
        text-decoration: none;
        }
    
    li{
        display:inline-block; 
        margin: 15px 5px;
        height: 22px;
        width: 100px;
        padding: 12px;
        text-align: center;
        color: black;
        border-left: 2px ;
        border-right: 1px;
        border-style: outset;
        border-color: black;
        }
    li:hover{
        background-color: #B69121;
        border-style: inset;
        }
    
    h1,h2{
        margin-top: 5px;
        margin-bottom: 5px; 
    }
    body{background-color: #A47E1B ;
    }@media only screen and (min-width: 768px) {
        body{background-color:#B69121;
    }}
    body{
        font-family:'Times New Roman', Times, serif;
        padding: 10px;
       
    }
    aside{
            background-color:#B69121;
            min-height:900px;
            min-width:400px;
            box-sizing: border-box;
    }@media only screen and (min-width: 768px){
        aside{
            background-color:#A47E1B;
            box-sizing: border-box;
            min-height:900px;
            min-width:300px;
        }}
    
    .col-9{
        float:left;
        padding: 10px;
        margin-left: 5px;
    }
    .docente{
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
    }
    .docent{
        text-align: left;

    }
   input[type="text"], input[type="email"], textarea, select, button,label{
        display:block; 
        margin: 15px 5px;
        width: 500px;
        box-sizing: border-box;
    }
    textarea{
        height: 450px;
    }
    #saxofoon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #trompet{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }
    #sax{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }
    #kind{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }  
    #Hannah{
       float: right;
        height: 75%;
    }
    #Jesse{
       float: left;
       height: 75%;
    }
    #kaart{
        width:500px;
        height:350px;
    }@media only screen and (min-width: 768px){
    #kaart{
        width: 300px;
        height: 250px;
    }}
    #kaart{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .foother{
        text-align: center;     
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }
    .foother{
        background-color:#B69121
    }@media only screen and (min-width: 768px){
        .foother{
            background-color:#A47E1B;
        }}
